.search-pokemon {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding: 25px;
  box-shadow: 0 1px 2px #00000033;
}

.search-pokemon input {
  display: block;
  width: 92%;
  font-size: 1em;
  padding: 15px 25px;
  border-radius: 35px;
  border: 2px solid #bebebe;
  transition: all ease-in .1s;
}

.search-pokemon input:focus {
  box-shadow: 0 10px 20px #00000033;
  background: #efefef;
  outline: 0;
}

* {
  font-family: cursive;
  font-size: 1.2em;
}
