.individual-stat {
    text-transform: capitalize;
    margin: 0 auto 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: capitalize;
    line-height: 2;
    padding-left: 15px;
    border-radius: 25px;
}

.individual-stat-value {
    margin-right: 1px;
    font-weight: 700;
    background: #ddd9fc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
}

.all-individual-sprites {
    display: flex;
    flex-wrap: wrap;
}

.row {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.all-individual-stats:nth-child(odd) {
    background-color: #cfe0e8;
    border-radius: 25px;
}

h1 {
  font-family: "my font", cursive;
  font-weight: 500;
}

h2 {
    text-transform: capitalize;
}
