<div class="base-stats row">
    <h1>Base stats</h1>
    <div *ngFor="let stat of pokemon.stats" class="all-individual-stats">
        <h2 class="individual-stat">{{stat.stat.name.replace("-", " ")}} <span class="individual-stat-value">{{stat.base_stat}}</span></h2>
    </div>
</div>
<div class="pokemon-abilities row" *ngIf="abilities">
    <h1>Abilities</h1>
    <div *ngFor="let ability of abilities">
        <h2 class="individual-ability"><strong>Slot {{ability.slot}}: </strong>{{ability.ability.name.replace("-", " ")}}</h2>
    </div>
</div>
<div class="pokemon-sprites row">
    <h1>Sprites</h1>
    <div class="all-individual-sprites">
        <div *ngIf="pokemon.sprites.front_default" class="single-sprite">
            <img [src]="pokemon.sprites.front_default">
        </div>
        <div *ngIf="pokemon.sprites.back_default" class="single-sprite">
            <img [src]="pokemon.sprites.back_default">
        </div>
        <div *ngIf="pokemon.sprites.front_shiny" class="single-sprite">
            <img [src]="pokemon.sprites.front_shiny">
        </div>
        <div *ngIf="pokemon.sprites.back_shiny" class="single-sprite">
            <img [src]="pokemon.sprites.back_shiny">
        </div>
    </div>
</div>
