<app-pokemon-searchbar (searchPokemon)="searchPokemon($event)"></app-pokemon-searchbar>
<div class="list-wrapper">
  <div class="pokemon-list" *ngIf="pokemons">
    <app-pokemon-list-item *ngFor="let pokemon of pokemons.results" [pokemon]="pokemon" routerLink="/pokemon/{{pokemon.id}}"></app-pokemon-list-item>
  </div>
  <div class="load-more">
    <button (click)="loadMore()">Load more</button>
  </div>
</div>
