* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.avatar {
  background: #fff;
  border-radius: 50%;
  border: 10px solid #b7b0f6;
  box-shadow: 0 0 20px #00000035;
  padding: 15px;
  margin-top: -40px;
}

.avatar img {
  width: 125px;
  display: block;
}

img {
  vertical-align: middle;
  border-style: none;
}

div {
  display: block;
}
