
<button (click)="goBack()">Back</button>
<h2 class="pokemon-name">{{pokemon.name}}</h2>
<div class="types">
  <div *ngFor="let type of pokemon.types" class="type">{{type.type.name}}</div>
</div>
<div>
  <div class='pokemon-appearance'>
    <h1 class="pokemon-weight appearance-att">Weight: {{weight}} kg</h1>
    <h1 class="pokemon-height appearance-att">Height: {{height}} m</h1>
  </div>
  <div class='pokemon-base-xp row'>
    <h2 class="pokemon-base-xp-text">Base XP: {{pokemon.base_experience}}</h2>
  </div>
</div>

