
button {
  position: relative;
  top: 15px;
  border: 2px solid #b7b0f6;
  font-family: cursive;
  font-size: 1.2em;
  padding: 5px 15px;
  background: #fff;
  font-weight: 700;
  color: #b7b0f6;
  border-radius: 5px;
  transition: 150ms ease-in;
  outline: 0;
}

button:hover {
  cursor: pointer;
  background: #b7b0f6;
  color: #fff;
}

.pokemon-name {
  text-transform: capitalize;
  margin: 0 auto 25px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  font-family: "my font", cursive;
}

.types {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40%;
    padding-right: 40%;
}

.type {
  background: #fff;
  margin: .4em;
  padding: 5px 10px;
  color: #333;
  text-transform: uppercase;
  font-size: .85em;
  border-radius: 5px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 2px #00000055;
}

.pokemon-appearance {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding-left: 20%;
    padding-right: 20%;
}

.appearance-att {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #6f6f6f;
    font-family: "my font", cursive;
    font-weight: 500;
    height: 100px;
    line-height: 1;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.appearance-att:nth-child(1) {
  border-right: 1px solid #efefef;
}

