.pokemon-moves {
    text-transform: capitalize;
    text-indent: 20px;
    margin: 0 auto 25px;
    justify-content: space-between;
    text-transform: capitalize;
    line-height: 2;
    padding-left: 15px;
    border-radius: 25px;
}

.pokemon-moves :nth-child(even) {
    background-color: #cfe0e8;
    border-radius: 25px;
}

h1 {
  font-family: "my font", cursive;
  font-weight: 500;
}
