<div *ngIf="pokemon">
    <h1 class="pokemon-name">Moves</h1>
    <div class="pokemon-moves row">
        <h2 *ngFor="let move of pokemon.moves" class="individual-move">{{move.move.name.replace("-", " ")}}</h2>
    </div>
</div>
