.text-center {
  text-align: center !important;
}

img {
  vertical-align: middle;
  border-style: none;
}

h4 {
  text-transform: capitalize;
  margin-top: 0;
  font-family: "my font", cursive;
  font-size: 1.5rem;
  font-weight: 500;
}
